*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --body-bg-color: #121214;
  --text-color: #E1E1E6;
  --title-color: #04D361;
  --form-color: #A8A8A8;
  --bg-button-color: #8257e5;

  /* Fotns */
  --Fonte-primary:'Work Sans';
  --Fonte-secudary:'League Spartan';

  /* Reset Font */
  font-size: 62.5%;
}
body{
    display: flex;
    flex-direction: row;
    font-size: 1.6rem;
    width: 100%;
    height: 100vh;
    background-color: var(--body-bg-color);
  }

  .container{
    display: flex;
    flex-direction: column;
    gap: 4.6rem;
    height: 100vh;
    width: 100%;
  }

  section{
    display: flex;
    flex-direction: column;
    gap: 6rem;
    border-radius: 0.4rem;
    width: 57rem;
    margin: 3rem 5rem;
  }

  header{
    display: flex;
    margin: 5rem 5rem 0rem 6rem;
  }

  header img{
    max-width: 38.9rem;
  }

  .texts{
    display: flex;
    flex-direction: column;
  }

.content__title{
  font-family: var(--Fonte-primary);
  color: var(--title-color);
  padding-bottom: 0.9rem;
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-weight: 700;
}

.content__subtitle{
  font-family: var(--Fonte-secudary);
  padding-bottom: 0.9rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.6rem;
  color: var(--text-color);
}

.content__text{
  font-family: var(--Fonte-secudary);
  margin-top: 0.9rem;
  color: var(--text-color);
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.9rem;
  font-size: 1.2rem;
}

.content__label{
  display: flex;
  color: var(--form-color);
  font-size: 1.4rem;
  line-height: 1.9rem;
  font-family: var(--Fonte-secudary);
  font-weight: 400;
}

.content__box{
  width: 79.7rem;
  margin-top: 1.7rem;
  display: flex;
  flex-direction: row;
  position: relative;
}
.content__box input{
  font-size: 1.2rem;
  font-weight: 400;
  font-family: var(--Fonte-primary);
  color: var(--form-color);
  padding: 1.5rem;
  width: 75rem;
  border: none;
  border-left: 6px solid #04D361;
}

.content__btn{
  border: none;
  padding: 1.2rem;
  background-color: var(--bg-button-color);
}

.content__btn svg{
  color: white;
}

.footer__svg{
  margin-left: 5px;
}

.footer__link{
  display: flex;
  align-items: center;
  line-height: 0;
  font-family: var(--Fonte-secudary);
  font-size: 1.4rem;
  color: var(--bg-button-color);
}


  .bg-image{
    display: flex;
    width: 100%;
    height: 100vh;
  }
  .img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  }


  @media (max-width:938px) {
    section{
      margin: 0 auto;
    }
    header{
      margin: 4rem auto;
    }
    .texts{
      text-align: center;
    }
    .content__box{
      width: initial;
    }
    .bg-image,.img{
        display: none;
    }
  }


  @media (max-width:779px) {

    .content__box{
      width: initial;
    }
    .bg-image,.img{
        display: none;
    }
  }


  @media (max-width:667px) {

    .content__box{
      width: initial;
    }
    .bg-image,.img{
        display: none;
    }
  }

  @media (max-width:645px) {
    section{
      width: 51rem;
    }
    .texts{
      text-align: center;
    }
    .content__box{
      width: initial;
    }
    .bg-image,.img{
        display: none;
    }
  }

  @media (max-width:546px) {
    section{
      width: 42rem;
    }
    .texts{
      text-align: center;
    }

    header img{
      width: 29.9rem;
    }
    .content__box{
      width: initial;
    }
    .bg-image,.img{
        display: none;
    }
  }


  @media (max-width:470px) {
    section{
      width: 35rem;
    }
    .texts{
      text-align: center;
    }
    .container{
      gap: 0.6rem;
    }
    header img{
      width: 29.9rem;
    }
    .content__box{
      width: initial;
    }
    .bg-image,.img{
        display: none;
    }
  }

  @media (max-width:399px) {
    section{
      width: 27rem;
    }
    header img{
      width: 25.9rem;
    }
    .texts{
      text-align: center;
    }
    .container{
      gap: 0.6rem;
    }
    .content__box{
      width: initial;
    }
    .bg-image,.img{
        display: none;
    }
  }